name: CI

env:
  JDK_JAVA_OPTIONS: -XX:+PrintCommandLineFlags # JDK_JAVA_OPTIONS is _the_ env. variable to use for modern Java

on:
  pull_request:
  push:
    branches: [ "main" ]
    tags: [ "*" ]

jobs:
  lint:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v4.2.2
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Cache Scala dependencies
        uses: coursier/cache-action@v6
      - name: Check code formatting
        run: ./sbt check

  test:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        java:
          - '11'
          - '17'
          - '21'
        scala:
          - '2.12.19'
          - '2.13.14'
          - '3.4.3'
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v4.2.2
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          check-latest: true
      - name: Cache Scala dependencies
        uses: coursier/cache-action@v6
      - name: Run tests
        run: ./sbt ++${{ matrix.scala }}! library/test
      - name: Run test container
        run: docker compose -f docker/elasticsearch-8.x.yml up -d
      - name: Run integration tests
        run: ./sbt ++${{ matrix.scala }}! integration/test

  website:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4.1.7
      - name: Setup Java
        uses: actions/setup-java@v4.2.2
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Check Website Generation
        run: ./sbt docs/docusaurusCreateSite

  publish-local:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4.1.7
      - name: Setup Java
        uses: actions/setup-java@v4.2.2
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Check that building packages works
        run: ./sbt +publishLocal

  ci:
    runs-on: ubuntu-22.04
    needs: [ test, website, publish-local ]
    steps:
      - name: Aggregate outcomes
        run: echo "build succeeded"

  publish:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    needs: [ ci ]
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v4.2.2
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Release artifacts
        run: ./sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
