name: Website

on:
  push:
    branches:
      - 'main'
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: '0'
      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Publish the site
        run: ./sbt docs/docusaurusPublishGhpages
        env:
          GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
